<%- include('includes/persona5/_header') %>
<%- include('includes/_navbar') %>
<%- include('includes/persona5/_content') %>

<% if(info != '') { %>
    <div class="notification is-info">
        <%= info %>
    </div>
<% } %>

<div class="content">
    <div class="card">
        <div class="card-content">
            <div class="columns">
            <% for(const lugar of lugares){ %>
                <div class="column">
                    <a href="/persona5/<%= lugar.id %>"><%= lugar.nombre %></a>
                    <p><%= lugar.fecha %></p>
                </div>
            <% } %>
            </div>
        </div>
    </div>
</div>
<%- include('includes/_footer') %>