<%- include('includes/persona3/_header') %>
<%- include('includes/_navbar') %>
<%- include('includes/persona3/_content') %>
<div class="content">
    <div class="card">
        <div class="card-content">
            <div class="columns">
            <% for(const char of characters){ %>
                    <div class="column">
                        <%= char %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<%- include('includes/_footer') %>